.testimony-image{
  margin-block-start: 2.5rem;
  text-align: center;
}

.testimony-image img{
  block-size: 197px;
  vertical-align: middle;
  text-align: center;
}

.testimony-description{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 2.5rem;
}

.testimony-title{
  background: var(--primary);
  color: var(--white);
  align-self: flex-start;
  text-decoration: none;
  padding-inline: .5rem;
  padding-block: .25rem;
  font: var(--headline5);
  margin-inline-start: .25rem;
  box-shadow: -4px 4px 0 var(--white);
}

@media screen and (min-width:768px) {
  .testimony{
    display: flex;
    align-items: center;
  }
}